@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.food-munch-logo {
    height: 100px;
    width: 100px;
}

.links {
    color: pink;
}

.img1 {
    height: 50px;
    width: 50px;
}

.bg-para {
    font-size: 15px;
}

.project {
    text-align: center;
    background-color: #87cefa;
    color: black;
}

.tec {
    font-weight: bold;
}

#navItem1 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem2 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem3 {
    color: #323f4b;
    font-family: "Roboto";
}

#navItem4 {
    color: #323f4b;
    font-family: "Roboto";
}

.banner-section-bg-container {
    background-image: url("https://images.unsplash.com/photo-1480506132288-68f7705954bd?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    height: 100vh;
    background-size: cover;
}

.aboutme {
    color: white;
    text-align: left;
}

.myimag {
    width: 300px;
    height:300px;
    border: 4px solid black;
    border-radius: 60%;

}

.aboutme-card {
    text-align: center;
    background-image: linear-gradient(to right, #00d4ff, #020024);
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    color: white;
}

.banner-heading {
    color: white;
    font-family: "Roboto";
    font-size: 45px;
    font-weight: 300;
    text-align: left;
}

.banner-caption {
    color: #f5f7fa;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 300;
    text-align: left;

}

.wcu-section {
    background-color: black;
}

.wcu-section-heading {
    color: white;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.wcu-section-description {
    color: white;
    font-family: "Roboto";
    font-size: 16px;
}

.wcu-card {
    text-align: center;
    background-image: linear-gradient(to right, #4188da, #2be3c6);
    border-style: solid;
    border-width: 1px;
    border-color: #e5eaf4;
    border-radius: 16px;
    color: black;
}

.wcu-card-image {
    width: 100px;
    height: 70px;
}

.wcu-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
}

.wcu-card-description {
    color: black;
    font-family: "Roboto";
    font-size: 16px;
}

.offers {
    color: #323f4b;
    font-style: italic;
    font-weight: 600;
}

.explore-menu-section {
    background-color: black;
}

.menu-section-heading {
    color: #959ead;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}





.menu-item-link {
    color: #d0b200;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.menu-item-card {
    border-radius: 16px;
    background-image: linear-gradient(to right, #4188da, #2be3c6);
}

.healthy-food-section {
    background-image: linear-gradient(to right, #833ab4, #4188da);
}

.healthy-food-section-img {
    width: 270px;
}

.healthy-food-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.he {
    color: black;
    font-size: 25px;
}

.healthy-food-section-description {
    color: black;
    font-family: "Roboto";
    font-size: 16px;
}

.delivery-and-payment-section {

    background-image: linear-gradient(to right, #833ab4, #4188da);
}


.delivery-and-payment-section-img {
    width: 270px;
}

.delivery-and-payment-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.delivery-and-payment-section-description {
    color: #5a7184;
    font-family: "Roboto";
    font-size: 16px;
}

.payment-card-img {
    width: 50px;
    height: 50px;
    margin-right: 28px;
}

.follow-us-section {
    background-color: black;
}

.follow-us-section-heading {
    text-align: center;
    color: #959ead;
    font-family: "Roboto";
    font-size: 28px;
    font-weight: 700;
}

.follow-us-icon-container {
    background-color: #faf7e8;
    background-image: linear-gradient(to right, #833ab4, #4188da);
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin: 15px;
    padding-top: 22px;
    padding-bottom: 14px;
    padding-right: 16px;
    padding-left: 22px;
}

.icon {
    color: #eeaeca;
    font-size: 35px;
}

.footer-section {
    background-color: black;
    height: 50vh;
    width: 100%;
}


.footer-section-mail-id {
    color: #959ead;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
}

.footer-section-address {
    color: #959ead;
    font-family: "Roboto";
    font-size: 14px;
}